<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t(:'email.welcome_1') %> ></h1>
<p>
  <%= t(:'email.verificate') %> <%= @user.email %>.<br>
</p>
<p>
  <%= t(:'email.welcome_3')  %> <%= @url %>.
</p>
<p> <%= t(:'email.welcome_4')  %></p>
</body>
</html>