


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            #
          </th>
          <th scope="col" class="px-6 py-3">
            <%=t(:'indicator') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'date_ind') %>
          </th>
          <th scope="col" class="px-6 py-3">
            <%= t(:'action_ind') %>
          </th>
        </tr>
        </thead>
        <tbody>
         <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

            <%= content_tag :div do%>
              <%=link_to( new_area_indicator_path(@area), data: {turbo_frame: "modal"},class:'flex items-center  ',) do %>
                <%=picture_tag("plus.png",class:'w-6 h-6 ') %>
              <% end %>
            <%end %>



          </th>
          <td class="px-6 py-4">

          </td>
          <td class="px-6 py-4">

          </td>
          <td class="px-6 py-4">

          </td>
        </tr>

        <% @indicators.each do |indicator|   %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="rounded-full w-3 h-3 bg-blue-600"></div>
            </th>
            <td class="px-6 py-4">
              <%= indicator.ind %>
            </td>
            <td class="px-6 py-4">
              <%= indicator.created_at %>
            </td>
            <td class="px-6 py-4">
              -------
            </td>
          </tr>
        <%end %>
        </tbody>
      </table>
    </div>



