<p> <%= t(:'email.hello')%>  <%= @resource.email %>!</p>

<p><%= t(:'email.reset_pass1')%></p>

<p><%= link_to t(:'links.password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:'email.reset_pass2')%></p>
<p><%= t(:'email.reset_pass3')%></p>
